* {
    padding: 0;
    margin: 0;
}

html {
    background: url(C:/Users/malon/Downloads/Eternal-Darkness.PNG) no-repeat center fixed;
    background-size: cover;
}
/* .page {
    border: 4px dashed red;
    background-color: lavender;
    overflow: hidden;
} */

.content {
    position: relative;
    text-align: left;
    float: left;
    background-color: blue;
    background-size: 100% auto;
}

.background-text {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px;
    padding: 2em 8.12em;
    color: red;
}

.input {
    /* background-color:rgb(180, 30, 30); */
    border: 3px ridge lightblue;
}

.intro {
    background-color: pink;
    border: 3px ridge yellow;
    margin-bottom: 7em;
}

input {
    border: 1px #E5E7EB solid;
    border-radius: 0.3em;
}

input:focus {
    border: 3px solid blue;
    box-shadow: 2px 2px 15px #888888;
}

button {
    padding: 2px 7px;
}

.button {
    /* float: left; */
    background-color: purple;
    border: 3px solid black;
}